body {
  background-color:rgba(0,0,0,0);
}

.mdl-card {
  -webkit-app-region: drag;
  width: 500px;
}

.mdl-textfield {
  width: 500px;
}

button, iframe, input {
  -webkit-app-region: no-drag;
}

#alarm_container {

}

#button_settings {
  position: absolute;
  right: 10px;
}